@media (max-width: 1240px) {
    .navbar-links, .navbar-buttons {
        display: none;
    }
    .container {
        justify-content: center !important;
    }
    .punet .container:last-of-type {
        width: auto;
    }
    .owl-carousel {
        width: auto;
    }
}

@media (max-width: 980px) {
    .kerkesat-options {
        flex-direction: column;
    }
    .kerkesat-section {
        text-align: center;
        width: 100%;
    }
    .kerkesat-section h2 {
        width: 100%;
    }
}

@media (max-width: 886px) {
    .pse-left_feature p {
        font-size: 1.5rem !important;
    }
    .punet-section_arrows {
        display: none;
    }
    p {
        font-size: 1.2rem !important;
        margin: 25px 0 0 0;
    }
    h1 {
        font-size: 4rem !important;
    }
    h2 {
        font-size: 3rem !important;
        line-height: 135%;
    }
    h3 {
        font-size: 2rem !important;
    }
    .container {
        flex-direction: column !important;
        text-align: center;
        align-items: center
    }
    .hero-left {
        width: 90%;
    }
    .hero-right {
        width: 80%;
    }
    .section-introduction {
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }
    .line {
        margin: 15px 0;
    }
    .pse-section .left {
        margin: 0 0 80px 0;
        width: 100%;
    }
    .pse-section .right .flex {
        justify-content: center;
    }
    .pse-section .right {
        text-align: center;
        width: 100%;   
        padding: 200px 0;
    }
}

@media (max-width: 768px) {
    .hero-search {
        width: 100%;
        padding: 30px;
    }
    .pse-section .flex {
        margin-bottom: 0 !important;
        flex-direction: column;
    }
}

.owl-item {
    display: flex;
    justify-content: center;
}