/* APPLIEST TO ALL */

body {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #222831;
}

:root {
    --primary: #10375C;
    --primaryDark: #0D2C4A;
    --secondaryDark: #DD2C00;
    --secondaryLight: #FF5722;
    --paragraph: #6A6A6A;
}

span.secondary {
    color: var(--secondaryDark);
}

h1 {
    font-family: "Lora";
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 128%;
    color: var(--secondaryDark);
}

h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    color: var(--primary);
}

h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    font-size: 3rem;
    line-height: 51px;
    columns: white;
}

nav h3 {
    font-size: 2rem;
}

.section_paragraph-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--paragraph);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
}

.line {
    width: 73px;
    height: 2px;
    background: #222831;
    display: block;
    margin-left: 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103px;
    height: 43px;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.btn.default {
    background: white;
    color: var(--secondaryLight);
}

.btn.action {
    background: var(--secondaryLight);
    color: white;
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

/* NAVIGATION BAR */

.navbar-links {
    display: flex;
}

.navbar-buttons {
    display: flex;
}

nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
}

.navbar-links li {
    padding: 0 20px;
}

nav h3 {
    font-family: "Playfair Display";
    font-weight: bolder;
}

/* HERO SECTION */

.fullWidth {
    width: 100%;
}

.whiteText {
    color: white;
}
.hero-upper .container, .hero .container {
    display: flex;
    align-items: center;
}

.hero-right {
    width: 60%;
}
.hero-left {
    justify-self: flex-end;
    width: 30%;
}

.hero-search {
    margin: 100px;
    display: flex;
    flex-direction: column;
    background: var(--primary);
    padding: 40px 50px;
}

.hero-search h2 {
    margin: 20px 0;
}

.hero-search select {
    padding: 15px 15px;
    background-color: var(--primaryDark);
    color: white;
    border: none;
    font-size: 1.2rem;    
    font-family: 'Lato';
    font-weight: 300;
}

.hero-search label {
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.382);
    font-weight: 400;
}

.hero-search button {
    padding: 30px 0;
    margin-top: 35px;
}

.hero {
    background: url('../img/image\ 10.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.hero .container:last-of-type {
    align-items: center;
}

/* PUNET */

.punet-section_arrows img {
    padding: 0 20px;
}
.punet-section_arrows:hover {
    cursor: pointer;
}
.punet {
    width: 100%;
    margin: 120px 0;
}
.punet .section_paragraph-text {
    width: 60%;
    pointer-events: none;
}

.job-article {
    cursor: pointer;
    height: 460px;
    width: 340px;
    position: relative;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.job-article:hover {
    transform: translateY(20px);
}
.punet .container {
    display: flex;
    justify-content: space-around;
}
.job-article:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(145, 37, 10, 0.5), rgb(238, 146, 55));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.job-article h3 {
    text-align: center;
    margin: 20px 0;
}

.job-article:hover:before {
    opacity: 1;
}

.job-article img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.job-article .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.job-article:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.job-article .info p {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 20px 0;
}

.punet .container:last-of-type {
    margin: 90px auto;
}

/* PSE FEATURES */

.pse-section .right, .pse-section .right p, .pse-section .right h2, .pse-section .right .line {
    color: white;
}
.pse-section .container {
    display: flex;
    align-items: center;
}
.pse-section .left img {
    width: 70px;
    height: 70px;
}

.pse-section .right {
    background: #0D2C4A;
    padding: 65px 50px;
    width: 36%;
}

.pse-section .right h2 {
    margin: 20px 0 30px;
}

.pse-section .right p {
    font-weight: 300;
}

.pse-left_feature {
    display: flex;
    align-items: center;
}
.pse-left_feature img {
    padding-right: 30px;
}
.pse-left_feature div p:first-of-type {
    font-size: 1.5rem;
    font-family: "Lora";
}
.left {
    width: 50%;
    margin: 0 auto;
}
.left .flex {
    justify-content: space-around;
}
.left .flex:first-of-type {
    margin-bottom: 120px;
}
.kerkesat-section {
    margin: 100px auto;
}
.kerkesat-options img {
    width: 100%;
}
.kerkesat-section h2 {
    width: 40%;
    margin-bottom: 40px;
}
.kerkesat-options .left li {
    padding: 20px 10px;
    transition: 0.15s all ease-in-out;
}
.kerkesat-options .left {
    margin: 20px;
}
.kerkesat-options .left li:hover {
    background-color: var(--secondaryLight);
    color: white;
}
section {
    width: 100%;
}

.owl-nav {
    display: none;
}

* , *:before, *:after{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
  }